@font-face {
    font-family: 'CoffeeCake';
    src: url('path/to/font/CoffeCake.ttf') format('truetype'),
         url('path/to/font/CoffeCake.woff') format('woff'),
         url('path/to/font/CoffeCake.otf') format('opentype');
  }


* {
    font-family: 'CoffeCake', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.95)), url(zoe\ mainp\ age.png);
    background-size: cover;
    background-position: center;
    animation: transitionIn 1s;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(20);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.letter{
    cursor: pointer;
    position: absolute;
    top: 79%;
    left: 33%;
    width: 130px;
    height: 40px;
    border-radius:20px;
    background-color: #2fb7cc;
    
}
.on {
    cursor: pointer;
    position: absolute;
    top: 79%;
    left: 33%;
    width: 135px;
    height: 40px;
    border-radius:20px;
    background-color: #2fb7cc;
    font-size: 15px;
}
.hide-gradient .banner {
    background-image: url(zoe\ mainp\ age.png);
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}