@font-face {
    font-family: 'CoffeeCake';
    src: url('path/to/font/CoffeCake.ttf') format('truetype'),
         url('path/to/font/CoffeCake.woff') format('woff'),
         url('path/to/font/CoffeCake.otf') format('opentype');
  }

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'CoffeCake', sans-serif;
    display:block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #41C9E2;
    overflow: hidden;
}
.giftcontainer {
    bottom: 350px;
    left: 150px;
    position: absolute;
    
}
/* .giftcontainer img{
    width: 50px;
    top: -170px;
    right: -95px;
    position: absolute;
    cursor: pointer;
} */

.giftcontainer::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    top: 90px;
    left: -10px;
}
.gift{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color:rgb(248, 205, 142);
}
.gift::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 100px;
    background-color: #e76f51;
    left: 62px;
}
.gift::after{
    content: '';
    position: absolute;
    box-shadow:inset 0 10px rgba(0,0,0,0.3);
    width: 150px;
    height: 100px;
}
#click{
    display: none;
}
.click{
    position: absolute;
    background-color: rgb(248, 205, 142);
    width: 170px;
    height: 40px;
    top: -40px;
    left: -10px;
    transform-origin: bottom left;
    transition: 0.3s;
    cursor: pointer;
}
.click::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 40px;
    background-color: #e76f51;
    left: 72px;
}
.click::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 30px solid #e76f51;
    border-top: 30px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 30px solid #e76f51;
    transform: rotate(-90deg);
    left: 65px;
    top: -47px;
}
#click:checked+.click{
    transform: rotate(-110deg) scale(0.85);
}
#click:checked~.wishes{
    transform: translateY(-130px);
    z-index: 0;
}
.wishes{
    position: absolute;
    transition: 0.5s;
    color: #333;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    z-index: -1;
    left: 10px;
    color: #fff;
    text-shadow: 0 0 10px #020202;
}
.wishes a{
    color:inherit;
    text-decoration: none;
}

/* 2nd container*/

.giftcontainer2 {
    /* same styles as.giftcontainer */
    bottom: 350px;
    left: 650px; /* adjust the left position to create space between the two containers */
    position: absolute;
}
.giftcontainer2::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    top: 90px;
    left: -10px;
}

.gift2 {
    /* same styles as.gift */
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgb(248, 205, 142);
}

.gift2::before {
    /* same styles as.gift::before */
    content: '';
    position: absolute;
    width: 25px;
    height: 100px;
    background-color: #e76f51;
    left: 62px;
}

.gift2::after {
    /* same styles as.gift::after */
    content: '';
    position: absolute;
    box-shadow: inset 0 10px rgba(0,0,0,0.3);
    width: 150px;
    height: 100px;
}

#click2 {
    display: none;
}

.click2 {
    /* same styles as.click */
    position: absolute;
    background-color: rgb(248, 205, 142);
    width: 170px;
    height: 40px;
    top: -40px;
    left: -10px;
    transform-origin: bottom left;
    transition: 0.3s;
    cursor: pointer;
}

.click2::before {
    /* same styles as.click::before */
    position: absolute;
    content: '';
    width: 25px;
    height: 40px;
    background-color: #e76f51;
    left: 72px;
}

.click2::after {
    /* same styles as.click::after */
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 30px solid #e76f51;
    border-top: 30px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 30px solid #e76f51;
    transform: rotate(-90deg);
    left: 65px;
    top: -47px;
}

#click2:checked +.click2 {
    transform: rotate(-110deg) scale(0.85);
}

#click2:checked ~.wishes2 {
    transform: translateY(-130px);
    z-index: 0;
}

.wishes2 {
    /* same styles as.wishes */
    position: absolute;
    transition: 0.5s;
    color: #333;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    z-index: -1;
    left: 10px;
    color: #fff;
    text-shadow: 0 0 10px #020202;
}

.wishes2 a {
    color: inherit;
    text-decoration: none;
}

/* gift container 3 */

.giftcontainer3 {
    /* same styles as.giftcontainer */
    bottom: 350px;
    left: 1150px; /* adjust the left position to create space between the two containers */
    position: absolute;
}
.giftcontainer3::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 20px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    top: 90px;
    left: -10px;
}

.gift3 {
    /* same styles as.gift */
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgb(248, 205, 142);
}

.gift3::before {
    /* same styles as.gift::before */
    content: '';
    position: absolute;
    width: 25px;
    height: 100px;
    background-color: #e76f51;
    left: 62px;
}

.gift3::after {
    /* same styles as.gift::after */
    content: '';
    position: absolute;
    box-shadow: inset 0 10px rgba(0,0,0,0.3);
    width: 150px;
    height: 100px;
}

#click3 {
    display: none;
}

.click3{
    /* same styles as.click */
    position: absolute;
    background-color: rgb(248, 205, 142);
    width: 170px;
    height: 40px;
    top: -40px;
    left: -10px;
    transform-origin: bottom left;
    transition: 0.3s;
    cursor: pointer;
}

.click3::before {
    /* same styles as.click::before */
    position: absolute;
    content: '';
    width: 25px;
    height: 40px;
    background-color: #e76f51;
    left: 72px;
}

.click3::after {
    /* same styles as.click::after */
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 30px solid #e76f51;
    border-top: 30px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 30px solid #e76f51;
    transform: rotate(-90deg);
    left: 65px;
    top: -47px;
}

#click3:checked +.click3 {
    transform: rotate(-110deg) scale(0.85);
}

#click3:checked ~.wishes3 {
    transform: translateY(-130px);
    z-index: 0;
}

.wishes3 {
    /* same styles as.wishes */
    position: absolute;
    transition: 0.5s;
    color: #333;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    z-index: -1;
    left: 10px;
    color: #fff;
    text-shadow: 0 0 10px #020202;
}

.wishes3 a {
    color: inherit;
    text-decoration: none;
}